body{
    margin: 0;
}

.bold-text{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #222222;
}
.text{
    font-size: 14px;
    font-family: sans-serif;
/*    TODO: check color*/
}
p{
    font-family: sans-serif;
    font-size: 14px;
}
/*header*/
.header{
    z-index: 1;
}
#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    text-align: center;
}

#main{
    background-color: #fafafa;
    margin-top: 55px;
}
#instagram-title{
    width: auto;
    margin: 0;
    display: inline;
}

#instagram-glyph{
    margin: 0;
    display: inline;
    position: relative;
    top: 2px;
}

#navbar-left-span{
    float: left;
    display: inline-block;
    position: relative;
    top: 25%;
}

.verticle-divider{
    display: inline;
    width: 0;
    height: 1rem;
    border-left: 2px gray solid;
    margin: 0 8px;
}

#navbar-center-span{
    display: inline-block;
    position: relative;
    top: 25%;
}

#navbar-right-span{
    display: inline-block;
    float: right;
    position: relative;
    top: 25%;
}

.header-right-icon{
    margin: 0 8px;
}

#navbar-user-icon{
    margin-right: 0;
}
#navbar-compass-icon{
    margin-left: 0;
}

/*main body media queries*/

.content-wrapper{
    max-width: 1600px;
    padding: 0 100px;
}
#header-content-wrapper{
    display: block;
    margin: auto;
}
main{
    text-align: center;
}

#main-content-wrapper{
    display: flex;
    margin: auto;
}

.post-wrapper{
    width: 70%;
    margin: 1rem 1rem 3rem 0;
}
.user-stories{
    width: 30%;
}

@media only screen and (max-width: 600px){
    .post-wrapper{
        width: 100%;
    }
    #stories-sidebar{
        display: none;
    }
}
#stories-sidebar-wrapper{
    position: fixed;
    width: inherit;
}


/*posts*/
.posts{
    background-color: white;
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
}

.post-header-photo{
    height: 1.5rem;
    width: 1.5rem;
}

.profile-photo{
    display: inline-block;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}
.post-header{
    height: 2.5rem;
}

.post-header-span{
    float: left;
    height: 2.5rem;
}

.username{
    display: inline;
    position: relative;
    bottom: 1rem;
}


.photo{
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.post-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.post-footer-buttons{
    height: 2.5rem;
}

.post-buttons-span{
    height: 1rem;
    margin: 0.75rem 1rem
}

.post-footer-buttons-left{
    float: left;
    display: inline-block;
}

.post-save-button{
    float: right;
    display: inline-block;
}

.comment-button{
    margin: 0 0.5rem;
}

.post-button{
    /*TODO: fix color*/
    color: gray;
}
.like-button {
    color: #e9424e;
}

.like-count{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.like-count-text{
    margin: 0;
}

.caption{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.time-posted{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.time-posted-text{
    color: #8f9199;
}

.hashtag{
    color: #164381;
}

/*TODO: change to a border*/
.divider{
    color: lightgray;
}

.add-comment{
    border-top: 1px solid rgba(239, 239, 239, 1);
    margin: 0 1rem;
    padding: 1rem 0;
    text-align: left;
}

.add-comment-text{
    /*margin: 1rem 0;*/
    color: #8e8e8e;
}

/*suggestions*/
.suggestions{
    margin-top: 3rem;
    background-color: white;
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
}
.suggestions-header{
    text-align: left;
    padding: 1rem 1rem 0;

}

.suggestions-header-see-all{
    float: right;
}

.suggestions-header-text{
    color: #8e8e8e;
}

.see-all-text{
    color: #328de9;
}

/*Stories*/
.user-stories{
    margin-top: 1rem;
}

.suggestions-content{
    /*margin: 1rem;*/
}

#suggestion1{
    margin-left: 1rem;
}

.suggestion-card{
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
    width: 30%;
    margin: 1rem 0.5rem;
    display: inline-block;
    text-align: center;
}

.cancel-button{
    float: right;
    position: relative;
    top: 1.5rem;
    right: 1.5rem;
    color: #909090;
}

.suggestions-profile-photo{
    width: 30%;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.suggested-profile-name{
    font-weight: bold;
    font-size: 14px;
}
.suggested-profile-name-wrapper{
    margin-bottom: 0.25rem;
}

.suggestion-reason{
    font-size: 12px;
    color: #8e8f8f;
}

.suggestion-reason-wrapper{
    margin-bottom: 2rem;
}

.follow-button-wrapper{
    width: 75%;
    margin: 0 auto 1.5rem;

}

.follow-button{
    width: 100%;
    height: 2rem;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #328de9;
    border: none;
    border-radius: 6px;
}