body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.bold-text{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #222222;
}
.text{
    font-size: 14px;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    font-size: 14px;
}
/*header*/
.header{
    z-index: 1;
}
#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    text-align: center;
}

#main{
    background-color: #fafafa;
    margin-top: 55px;
}
@font-face {
    font-family: 'billabong';
    src: url('billabong.ttf');
    font-weight: bold;
}
#instagram-title{
    font-size: 1.5rem;
    width: auto;
    margin: 0;
    display: inline;
    font-family: billabong, cursive;
}

#instagram-glyph{
    margin: 0;
    display: inline;
    /*position: relative;*/
    /*top: 2px;*/
}

#navbar-left-span{
    font-size: 1.5rem;
    float: left;
    display: inline-block;
    /*position: relative;*/
    /*top: 25%;*/
}

.verticle-divider{
    display: inline;
    width: 0;
    height: 1rem;
    border-left: 2px gray solid;
    margin: 0 8px;
}

#navbar-center-span{
    font-size: 1.5rem;
    display: inline-block;
    /*position: relative;*/
    /*top: 25%;*/
}

#navbar-right-span{
    font-size: 1.5rem;
    display: inline-block;
    float: right;
    color: #626262;
    /*position: relative;*/
    /*top: 25%;*/
}

.header-right-icon{
    margin: 0 8px;
}

#navbar-user-icon{
    margin-right: 0;
}
#navbar-compass-icon{
    margin-left: 0;
}

#search-bar{
    font-size: 1rem;
    border-radius: 3px;
    border: solid 1px rgba(219, 219, 219, 1);
    background-color: rgb(250, 250, 250);
    margin: 0 1rem;
    text-align: center;
    padding: 0 1.5rem;
    background-image: url("magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    background-position-x: calc(50% - 2.25rem);
}

#search-bar:focus{
    background-color: rgba(235, 235, 235, 1) !important;
    text-align: left;
    background-position-x: 0.25rem;
}

/*main body media queries*/

.content-wrapper{
    max-width: 1600px;
    padding: 0 100px;
}
#header-content-wrapper{
    display: block;
    margin: auto;
    position: relative;
    top: 15px;
}
main{
    text-align: center;
}

#main-content-wrapper{
    display: flex;
    margin: auto;
}

.post-wrapper{
    width: 70%;
    margin: 0rem 1rem 2rem 0;
}
.user-stories{
    width: 30%;
}

@media only screen and (max-width: 800px){
    .post-wrapper{
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    #stories-sidebar{
        display: none;
    }
}

#stories-sidebar{
    flex-shrink: 0;

}

#stories-sidebar-wrapper{
    position: fixed;
    width: calc(30% - 60px);
}


/*posts*/
.posts{
    background-color: white;
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
    margin: 1rem 0 2rem;
}

.post-header-photo{
    height: 2rem;
    width: 2rem;
}

.profile-photo{
    display: inline-block;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}
.post-header{
    height: 3rem;
}

.post-header-span{
    float: left;
    height: 3rem;
}

.username{
    display: inline;
    position: relative;
    bottom: 1.15rem;
}


.photo{
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.post-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.post-footer-buttons{
    height: 2.5rem;
}

.post-buttons-span{
    height: 1rem;
    margin: 0.75rem 1rem
}

.post-footer-buttons-left{
    float: left;
    display: inline-block;
}

.post-save-button{
    float: right;
    display: inline-block;
}

.comment-button{
    margin: 0 0.5rem;
}

.post-button{
    color: #424242;
}
.like-button {
    color: #e9424e;
}

.like-count{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.like-count-text{
    margin: 0;
}

.caption{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.time-posted{
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.time-posted-text{
    color: #8f9199;
}

.hashtag{
    color: #164381;
}

.add-comment{
    border-top: 1px solid rgba(239, 239, 239, 1);
    margin: 0 1rem;
    padding: 1rem 0;
    text-align: left;
}

.add-comment-text{
    /*margin: 1rem 0;*/
    color: #8e8e8e;
}

/*suggestions*/
.suggestions{
    margin-top: 3rem;
    background-color: white;
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
}
.suggestions-header{
    text-align: left;
    padding: 1rem 1rem 0;

}

.blue-checkmark{
    height: 1rem;
    width: auto;
    position: relative;
    top: .25rem;
}
.suggestions-header-see-all{
    float: right;
}

.suggestions-header-text{
    color: #8e8e8e;
    font-weight: 600;
}

.see-all-text{
    color: #328de9;
    font-weight: 600;
}

/*Stories*/
.user-stories{
    margin-top: 1rem;
}

.suggestions-content{
    /*margin: 1rem;*/
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: none;
    white-space: nowrap;
}
.suggestions-content::-webkit-scrollbar{
    display: none;
}

#suggestion1{
    margin-left: 1rem;
}

.suggestion-card{
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
    width: 30%;
    max-width: 220px;
    min-width: 180px;
    margin: 1rem 0.5rem;
    display: inline-block;
    text-align: center;
}

.cancel-button{
    float: right;
    position: relative;
    top: 1.5rem;
    right: 1.5rem;
    color: #909090;
}

.suggestions-profile-photo{
    width: 30%;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.suggested-profile-name{
    font-weight: bold;
    font-size: 14px;
}
.suggested-profile-name-wrapper{
    margin-bottom: 0.25rem;
}

.suggestion-reason{
    font-size: 12px;
    color: #8e8f8f;
}

.suggestion-reason-wrapper{
    margin-bottom: 2rem;
}

.follow-button-wrapper{
    width: 75%;
    margin: 0 auto 1.5rem;

}

.follow-button{
    width: 100%;
    height: 2rem;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #328de9;
    border: none;
    border-radius: 6px;
}

/*stories*/
.stories-photo-inactive{
    height: 2.5rem;
    width: 2.5rem;
    float: left;
    display: inline-block;
    margin: 0;
}

.stories-photo-active{
    height: 2.5rem;
    width: 2.5rem;
    float: left;
    display: inline-block;
    margin: 0;
    border: 2px solid #CC328D;
}

#person1{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(239, 239, 239, 1);

}

.person{
    height: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.stories-text{
    height: 2.5rem;
    float: left;
    margin-left: 1rem;
    position: relative;
    top: 0.35rem;
}

.stories-subtitle{
    font-size: 10px;
    text-align: left;
    color: rgba(142, 142, 142, 1);
    margin-top: 0.25rem;
}

.stories-username{
    text-align: left;
    font-size: 12px;
}

.stories-label{
    float: left;
    font-size: 14px;
    color: rgba(142, 142, 142, 1);
}

.watch-all-label{
    float: right;
    font-size: 12px;
}

.stories-header{
    height: 14px;
    margin: .5rem 0;
}

.stories-list{
    max-height: 250px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.stories-list::-webkit-scrollbar{
    display: none;
}


/*footer*/
#sidebar-footer-info{
    border-top: 2px solid rgba(239, 239, 239, 1);
}
.footer-info{
    list-style: none;
}

.footer-list-item{
    font-size: 11px;
    font-weight: 400;
    color: rgba(199, 199, 199, 1);
    display: inline-block;
}

.footer-list-item::after{
    content: '\00B7';
    margin: 0 .25em 0 .25em;
}

.footer-info-list{
    padding: 0;
    text-align: left;
}

.copyright-info{
    font-size: 11px;
    font-weight: 400;
    color: rgba(199, 199, 199, 1);
}

.copyright-wrapper{
    text-align: left;
}