body{
    margin: 0;
}
#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
}

.header{
    display: inline-block;
    width: 33%;
}

#main{
    background-color: #fafafa;
    margin-top: 55px;

}
#instagram-title{
    width: auto;
    margin: 0;
    display: inline;
}

#header-center{
    text-align: center;
}

#navbar-right-span{
    float: right;
    margin-right: 100px;

}
