body{
    margin: 0;
}
/*header*/
#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    text-align: center;
}

#main{
    background-color: #fafafa;
    margin-top: 55px;
}
#instagram-title{
    width: auto;
    margin: 0;
    display: inline;
}

#instagram-glyph{
    margin: 0;
    display: inline;
    position: relative;
    top: 2px;
}

#navbar-left-span{
    float: left;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 25%;
}

.verticle-divider{
    display: inline;
    width: 0;
    height: 1rem;
    border-left: 2px gray solid;
    margin: 0 8px;
}

#navbar-center-span{
    display: inline-block;
    position: relative;
    top: 25%;
}

#navbar-right-span{
    display: inline-block;
    float: right;
    position: relative;
    right: 100px;
    top: 25%;
}

.header-right-icon{
    margin: 0 8px;
}

#navbar-user-icon{
    margin-right: 0;
}
#navbar-compass-icon{
    margin-left: 0;
}

/*main body media queries*/
/*.user-stories{*/
/*    display: flex;*/
/*}*/
/*.post-wrapper{*/
/*    display: flex;*/
/*}*/
main{
    display: flex;
}

.post-wrapper{
    width: 60%;
}
.user-stories{
    width: 40%;
}
@media only screen and (max-width: 600px){
    .post-wrapper{
        width: 100%;
    }
    #stories-sidebar{
        display: none;
    }
}

.posts{
    margin: 1rem;
}

