body{
    margin: 0;
}
#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    text-align: center;
}

#main{
    background-color: #fafafa;
    margin-top: 55px;
}
#instagram-title{
    width: auto;
    margin: 0;
    display: inline;
}

#navbar-left-span{
    float: left;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 25%;
}

.verticle-divider{
    display: inline-block;
    width: 0;
    height: 45px;
    border-left: 2px gray solid;
}

#navbar-center-span{
    display: inline-block;
    position: relative;
    top: 25%;
}

#navbar-right-span{
    display: inline-block;
    float: right;
    position: relative;
    right: 100px;
    top: 25%;
}

.header-right-icon{
    margin: 0 8px;
}

#navbar-user-icon{
    margin-right: 0;
}
#navbar-compass-icon{
    margin-left: 0;
}